<div id="comments">
<% @comments.each do |comment| %>
  <div class="comment">
    <b> <%= simple_format comment.user.username %></b>
    <%= simple_format comment.review  %>
  </div>
<% end %>
</div>
