<%= form_for [@commentable, @comment] do |f| %>
  <div class="field">
    <%= f.text_area :review, rows: 8, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
