<table class="table">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">View Profile</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u|%>
      <% unless u.id == current_user.id%>
        <tr>
          <td><%= u.username %></td>
          <td><%= u.email %></td>
          <td><%= link_to "View Profile", user_path(u.id), class: "btn btn-success" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
