<table class="table">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Average</th>
      <th scope="col">View Profile</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u|%>
      <tr>
        <td><%= u.username %></td>
        <td><%= u.email %></td>
        <td>coming soon</td>
        <td><%= link_to "View Profile", user_path(u.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
